@media screen and (min-width: 375px) and (max-width: 1439px) {
    * {
        margin: 0;
        font-family: 'Manrope', sans-serif;
    }

    body {
        background-color: hsl(210, 46%, 95%);
        display: grid;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    main > img {
        object-fit: cover;
        object-position: 50% 25%;
        height: 220px;
        border-radius: 16px 16px 0px 0px;
    }

    section {
        background-color: #FFFFFF;
        display: grid;
        justify-content: center;
        /* padding-bottom: 24px; */
    }

    #header-text {
        font-weight: 700;
        font-size: 16px;
        color: hsl(217, 19%, 35%);
        width: 256px;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    #body-text {
        font-weight: 500;
        font-size: 13px;
        color: hsl(214, 17%, 51%);
        width: 256px;
        margin-bottom: 16px;
        line-height: 1.5;
    }

    .bottom-banner {
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        background-color: #FFFFFF;
        padding-bottom: 16px;
        border-radius: 0px 0px 16px 16px;
    }

    .bottom-banner-focus {
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        background-color:hsl(217, 19%, 35%);
        border-radius: 0px 0px 16px 16px;
    }

    .user-details-hidden {
        display: none;
    }

    .user-details {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
        height: 64px;
        margin-left: 32px;
    }

    .user-details > img {
        width: 48px;
        border-radius: 32px;
    }

    .user-details > p {
        font-size: 13px;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
    }

    span {
        font-weight: 500;
        color: hsl(212, 23%, 69%);
    }

    .social-media-icons {
        display: none;
    }

    .social-media-icons-visible {
        display: grid;
        grid-template-columns: auto 10% 10% 10%;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        color: #FFFFFF;
        height: 64px;
    }

    .social-media-icons > p {
        font-size: 16px;
        font-weight: 200;
    }

    .social-media-icon {
        font-size: 32px;
    }

    .share-button {
        justify-self: start;
        background-color: hsl(210, 46%, 95%);
        padding: 10px 13px;
        border-radius: 24px;
    }

    .share-button-focus {
        justify-self: start;
        padding: 10px 13px;
        background-color: hsl(214, 17%, 51%);
        border-radius: 24px;
    }

    .share-icon {
        color: hsl(217, 19%, 35%);
    }

    .share-icon-focus {
        color: #FFFFFF;
    }

    footer {
        margin: auto;
        margin-bottom: 32px;
    }

    footer > p {
        text-align: center;
        font-size: 11px;
        color:hsl(214, 17%, 51%);
    }

    footer a {
        color:hsl(217, 19%, 35%);
        font-weight: 700;
        text-decoration: none;
    }

    footer a:visited {
        text-decoration: none;
    }
}