@media screen and (min-width: 375px) and (max-width: 1439px) {
    * {
        margin: 0;
        font-family: 'Manrope', sans-serif;
    }

    html {
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    body {
        background-color: hsl(210, 46%, 95%);
    }

    main {
        width: 320px;
        display: flex;
        flex-direction: column;
        /* margin-top: 32px; */
        margin-bottom: 16px;
    }

    main > img {
        height: 200px;
        object-fit: cover;
        object-position: 50% 25%;
        border-radius: 16px 16px 0px 0px;
    }

    section {
        background-color: #FFFFFF;
        padding-bottom: 16px;
        border-radius: 0px 0px 16px 16px;
    }

    section > p {
        width: 256px;
        margin: auto;
    }

    #header-text {
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-top: 32px;
        margin-bottom: 16px;
    }

    #body-text {
        font-size: 13px;
        font-weight: 500;
        color: hsl(214, 17%, 51%);
        line-height: 1.5;
        margin-bottom: 16px;
    }

    div {
        width: 256px;
        margin: auto;
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }

    div > img {
        width: 48px;
        border-radius: 24px;
    }

    div > p {
        align-self: center;
        font-size: 13px;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-left: 8px;
    }

    span {
        font-weight: 500;
        color: hsl(212, 23%, 69%);
    }

    .show-dialog {
        border: none;
        width: 290px;
        display: grid;
        grid-template-columns: 25% 15% 15% 15% auto;
        align-items: center;
        background-color: hsl(217, 19%, 35%);
        color: #FFFFFF;
        margin: auto;
        border-radius: 0px 0px 16px 16px;
    }

    dialog > p {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        margin-left: 16px;
    }

    .social-media-icons {
        font-size: 24px;
        justify-self: center;
    }

    button {
        background-color: hsl(210, 46%, 95%);
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        align-self: center;
        z-index: 1;
    }

    .dialog-visible {
        background-color: hsl(214, 17%, 51%);
        color: #FFFFFF;
    }

    #share-icon {
        color: hsl(217, 19%, 35%);
    }

    .icon-dialog-visible {
        color: #FFFFFF;
    }

    footer {
        text-align: center;
    }

    footer > p {
        font-size: 11px;
        color: hsl(214, 17%, 51%);
        font-weight: 500;
    }

    footer a {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
        text-decoration: none;
    }

    footer a:visited {
        text-decoration: none;
    }
}